.vote-box {
    text-align: center;
    min-height: 5em;
    height: auto;
    border: 1px solid white;
    border-radius: .5em;
    background-color: rgba(129, 129, 129, 0.3);
    display: flex;
    flex-direction: column;
    padding: .5em;

    .text-container {
        margin: auto;
        color: white
    }
}

.selected {
    background-color: rgba(111, 206, 238, 0.8) !important;
}