<mat-sidenav-container class="container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    position="end"
    mode="side"
    [(opened)]="sideNavOpen"
  >
    <div class="controls-container">
      <mat-paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="totalElements"
        [pageSize]="pastPollPageSize"
        [hidePageSize]="true"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
    <div class="poll-container">
      <app-box
        *ngFor="let poll of pastPolls"
        class="poll"
        [line1]="poll.name"
        [line2]="poll.getVotesSum() + ' Votes'"
        [line3]="getVotePlaced(poll.votePlaced)"
        [selected]="poll.active"
        (click)="loadPoll(poll)"
      ></app-box>
    </div>
  </mat-sidenav>
  <section>
    <div class="top-bar">
      <div class="logo-container">
        <img src="./assets/logo.svg" />
      </div>
      <button class="open-button" mat-stroked-button (click)="toggleSideNav()">
        {{ sideNavOpen ? "Close" : "Polls" }}
      </button>
    </div>
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>
