.votes-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;

    .back-link {
        color: white;
        margin: 0 auto 1em auto;
        width: fit-content;
        display: block;
    }
}