<div class="votes-parent-container">
  <div class="votes-container" *ngIf="votes !== null && errorMessage === null">
    <div class="controls-container">
      <a class="link" [routerLink]="getBackLink()">Back</a>
      <mat-paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="totalElements"
        [pageSize]="votesPageSize"
        [hidePageSize]="true"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
    <app-box
      class="vote"
      *ngFor="let vote of votes"
      [line1]="vote.choice"
      [line2]="vote.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'"
    ></app-box>
  </div>
  <div *ngIf="votes === null && errorMessage === null">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>
  <div class="error-container" *ngIf="errorMessage !== null">
    <div class="error">
      {{ errorMessage }}
    </div>
  </div>
</div>
