<div class="votes-container">
    <div class="controls-container">
        <a (click)="previousPage()" class="link back" [ngClass]="{'disabled': currentVotesPageNumber === 0}">Previous Page</a>
        <a class="link" [routerLink]="getBackLink()">Back</a>
        <a (click)="nextPage()" class="link next" [ngClass]="{'disabled': currentVotesPageNumber === totalPages-1}">NextPage</a>
    </div>
    <app-box class="vote" *ngFor="let vote of votes" [line1]="vote.choice"
        [line2]="vote.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'"></app-box>
</div>