/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #07072a url(assets/hero.webp) no-repeat center center scroll;
    background-size: cover;
    color: white;
    font-family: "Outfit", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
