<div class="details-container">
    <div *ngIf="poll.id !== undefined">
        <div class="details-component title-container">
            {{poll.name}}
        </div>
        <div>
            <div class="details-component  subtitle-container">
                <div>
                    {{poll.getVotesSum()}} Votes -
                    <span *ngIf="poll.votePlaced === null">
                        <span *ngIf="poll.active">
                            Cast your vote now!
                        </span>
                        <span *ngIf="!poll.active">
                            This Poll has now Closed.<br/>
                            <button class="reload-button" mat-stroked-button (click)="loadLatestPoll()">See the Latest Poll</button>
                        </span>
                    </span> 
                    <span *ngIf="poll.votePlaced !== null">
                        <span>
                            Thanks for your Response.
                        </span>
                    </span>
                    <div *ngIf="poll.votePlaced !== null && !poll.active">
                        This Poll has now Closed.<br/>
                        <button class="reload-button" mat-stroked-button (click)="loadLatestPoll()">See the Latest Poll</button>
                    </div>
                </div>
            </div>

            <app-result-bar *ngFor="let option of options" [option]="option" [pollActive]="poll.active"
                [votePlaced]="poll.votePlaced" [votePercentage]="calculatePercentage(option)" (voteClicked)="vote($event)"></app-result-bar>

            <a class="votes-link" *ngIf="poll.votePlaced !== null || !poll.active" [routerLink]="getVotesLink()">See All Votes</a>
        </div>
    </div>
    <div *ngIf="poll.id === undefined">
        <mat-spinner class="loading-spinner"></mat-spinner>
    </div>
</div>